---
import Window from '../components/Window.astro';
import Layout from '../layouts/Layout.astro';

const titleName = "About"
const iconPath = "../icons/about.png";
---

<Layout title={titleName}>
  <Window title={titleName} iconPath={iconPath}>
    <h3>First Draft:</h3>
    This is my about me section. I don't know how to write this section, so I'm just going to spitball ---
    <br>
    <br>
    My given name was Isaac, but I have gone by many names. 
    My current favorite is "zonk" -- which is my new musician alias.
    <br>
    <br>

    I am a musician, a programmer, an artist, a skater, a climber, an optimist,
    a enthusiast, a scholar, a student, a teacher, a flower-sniffer, a dreamer, a believer,
    a friend, a collaborater, an individualist, an oxymoron, and a human being.
    <br>
    <br>
    I started this website as a means of documentation and thoughtfulness, to
    take a step back and take a look at the things I've done that I feel proud of
    and want to show off. There has been two main goals for this project. The first
    and more concrete reason is that I want to have something to show to friends, family, 
    and future potential employers to give/show them a large part of myself in a concise manner. 
    The second, more abstract reason is that I've always wanted to keep a journal, 
    a way to keep track of my thoughts and feelings over time. I used to believe
    that the only way to journal was in writing, which I don't feel very strong in.
    But I have learned over time that journaling is much more than that -- you can
    journal through music, through art, through clothing, through literally any possible medium, they 
    are all forms of expression. I hope to keep track of these forms in a journal-like way, 
    in the <a href="/garden">Garden</a> section of this website (very much a work in progress / last step).
    <br><br>
    I hope that I can innovate / inspire with this project in a way that I was 
    inspired by others.
    
    <h3>Notes:</h3>
    <ul>
        <li>keep it simple, less is more</li>
        <li>resume here? or maybe in the code section</li>
        <li>talk about music background and coding background and what im into right now</li>
        <li>think about what i would want to share with potential employers and also people just trying to figure out who i am</li>
    </ul>
    <h3>Style:</h3>
    <ul>
        <li>add a picture of myself potentially, or maybe thats the icon to open the page</li>
        <li>I want to find some old windows type app to model here, nothings coming to mind but i will find</li>
    </ul>
    
  </Window>
</Layout>