---
import Projects from '../layouts/Projects.astro';
import Window from '../components/Window.astro';
import Layout from '../layouts/Layout.astro';

const titleName = "Code";
const iconPath = "../icons/code.png";
---

<Layout title={titleName}>
  <Window title={titleName} iconPath={iconPath}>
    <Projects />

    <!-- <h3>Notes:</h3>
    <ul>
        <li>Major coding projects, including school ones that I'm proud of and work projects definitely</li>
        <li>Also potentially some big personal projects I would inlude here, anything that bigger than what would go in garden</li>
        <li>Big highlight on the work with Will, put that at the top</li>
        <li>Jumbocode (whatever I can find of it)</li>
        <li>Maybe include a little blurb about what type of code im excited to write rn</li>
        <li>Seems like an organization by date type of deal here, newest first</li>
    </ul>
    <h3>Style:</h3>
    <ul>
        <li>Look for an app in old windows or mac to model this after</li>
        <li>keep the visuals going, like most pages having a good image brings the eye a lot more than text, the text can pop up if you hover over the image</li>
        <li>extra text and info if you click maybe?</li>
        <li>This one (like music) would probably do well in a file storing file viewer type of format, but let me see if i can come up with something more interesting for either</li>
        <li>    maybe start them both as a file format and transition after that</li>
    </ul> -->
  </Window>
</Layout>