---
import '../styles/global.css';

const pageTitle : string = "Garden";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/garden/">Garden</a>
    <a href="/music/">Music</a>
    <a href="/code/">Code</a>
     
    <h1>Garden</h1>
    <h3>Notes:</h3>
    <ul>
      <li>Garden is inspired by <a href=https://eva.town/garden>eva.town/garden</a> am I copying too much? (i think no)</li>
      <li>Main focus was going to be on small coding-art projects</li>
      <li>Also just want to add art in general, maybe instagram post type things if i like them enough</li>
      <li>Also journalings and posts about things I'm thinking about / interested it, keeping my motivation high</li>
      <li>First post can lowkey be the reason I wanted to make this website and the importance of garden</li>
      <li>All the little tid bits... anything extra I enjoy, maybe even albums I am liking and my reviews of them</li>
    </ul>
    <h3>Style:</h3>
    <ul>
      <li>Maintaining frutiger aero theme, just like music page I want it to be a pop up and maintain the same background</li>
      <li>This one ideally might feel a little less structured, definitely less than music</li>
      <li>I have a vision of this flower garden (could also add other plants) in a fun colorful pattern and you can kinda hover your mouse around and different projects will pop up</li>
      <li>I might still need organization of some type, but more loose by date i think, i want this to me more explorative, it's stuff (at least for now) that I dont mind if people find or dont, i just want to document</li>
      <li>Want to figure out a way to autogenerate some geometric flowers for this, have a new one every time</li>
    </ul>


    <h3>Examples from the tutorial:</h3>
    <ul>
        <li><a href="/journalings/journaling-1/">Tutorial</a></li>
        <li><a href="/journalings/journaling-2/">Tutorial 2</a></li>
        <li><a href="/journalings/journaling-3/">Tutorial 3</a></li>
    </ul>
  </body>
</html>