---
import '../styles/global.css';

const pageTitle : string = "Astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/garden/">Garden</a>
    <a href="/music/">Music</a>
    <a href="/code/">Code</a>
     
    <h1>zonk</h1>
    <h3>Notes:</h3>
    <ul>
        <li>Add hand drawn pictures to each page before i actually start coding them</li>
    </ul>
    <h3>Style</h3>
    <ul>
        <li>frutiger aero</li>
        <li>light blue, light green, grassy field, bright water, fishes swimming in the air</li>
        <li>windows xp or windows 98 style menu icons, one for each page, keep them down at the bottom in a desktop type of thing</li>
        <li>Im definitely interested in modeling old windows/mac computer with popup like screens when you click on each option</li>
        <li>Each page is basically just an app, with the background still there so it maintains the theme</li>
        <li>app zoom in animations? also thinking about being able to drag around the apps but maybe theres no point</li>
    </ul>
  </body>
</html>