---
import Hamburger from '../components/Hamburger.astro';
import TempWindow from '../components/TempWindow.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='zonk city'>
  <Hamburger/>
    <div id="toggle-content">
      <TempWindow title="Welcome" iconPath="../icons/about1.png">
          Hi, welcome to my site. Everything here is a work in progress. I am slowly moving towards the completetion of this project. This site will eventually become the location where I document everything that I am doing / have done in my life. Feel free to explore around :)
          
          <h3>TODO:</h3>
          <ul>
              <li>✅ First draft for <a href="/about">About</a></li>
              <li>Fix broken project links in <a href="/garden">Garden</a> (quick)</li>
              <li>Populate <a href="/code">Code</a> section with my projects</li>
              <li>Clean up background animation</li>
              <li>Folder system (for music)</li>
              <li>Actually add my music (Spotify, Soundcloud, voice memos, live performances, music videos)</li>
              <li>Flying fish</li>
              <li>Icons</li>
              <li>Plant my <a href="/garden">Garden</a> (blog space -- little code/music/art projects and blog and just general anything)</li>
              <li>Clean up / make styles uniform</li>
              <li>iPhone accessibility</li>
            </ul>
            <p>Background animation made by my sister Ava! (to be expanded on in the future...)</p>

        </TempWindow>

      </div>

    <!-- <div id="toggle-content">
      <h1>zonk</h1>
      <h3>Notes:</h3>
      <ul>
          <li>Add hand drawn pictures to each page before i actually start coding them</li>
      </ul>
      <h3>Style</h3>
      <ul>
          <li>frutiger aero</li>
          <li>light blue, light green, grassy field, bright water, fishes swimming in the air</li>
          <li>windows xp or windows 98 style menu icons, one for each page, keep them down at the bottom in a desktop type of thing</li>
          <li>Im definitely interested in modeling old windows/mac computer with popup like screens when you click on each option</li>
          <li>Each page is basically just an app, with the background still there so it maintains the theme</li>
          <li>app zoom in animations? also thinking about being able to drag around the apps but maybe theres no point</li>
      </ul>
      <h3>TODO</h3>
      <ul>
          <li>✅ Basic background, 4 menu apps at bottom that take you to different pages, rn 5th page to get back to home but that will go later (make component for item, layout for page)</li>
          <li>✅ windows for each page with the background still showing, home page notes only pop up with button press</li>
          <li>✅ see-through windows xp vista (aero) like components that have translucent top menu bar and the X out simple (also fullscreen implementation)</li>
          <li>✅ clean up unused files (all in examples)</li>
          <li>✅ get rid of as many global styles as possible</li>
          <li>✅ icons for apps</li>
          <li>✅ design basic system for files and folder and componenets to do so BEFORE CODING</li>
          <li>folders and file type system (to be used for most sections but definitely music)</li>
          <li>start working on background (grassy hill? clouds? flying fish?)</li>
          <li>better icons?</li>
          <li>clean up styles on computer, make sure everything looks nice (icons evenness)</li>
          <li>music playing extra function</li>
          <li>phone stuff</li>
      </ul>
    </div> -->
</Layout>

<style>
  /* Styling for the content box */
  #toggle-content {
      display: none;
  }
</style>