---
import Window from '../components/Window.astro';
import Layout from '../layouts/Layout.astro';

const titleName = "Music";
const iconPath = "../icons/music.png";
---

<Layout title={titleName}>
  <Window title={titleName} iconPath={iconPath}>
    <h3>Notes:</h3>
    <ul>
      <li>Some form of music playback for all content I've made</li>
      <li>Organized by -- date? type? location posted? </li>
      <li>Maybe split live and recorded, but do i have much live to show?</li>
      <li>Would be really cool to eventually link spotify API and automatically upload new songs onto here</li>
    </ul>
    <h3>Notes:</h3>
    <ul>
      <li>Like the music player app on windows xp -- look into that</li>
      <li>Visuals are good, maintain visuals like album covers n stuff</li>
      <li>I like the idea of opening up an app and maintaining the background like you didnt switch pages</li>
      <li>Could even be just in files like a filestoring system not a music player, that doesn't seem like that bad of an idea</li>
    </ul>
  </Window>
</Layout>