---
import Window from '../components/Window.astro';
import Layout from '../layouts/Layout.astro';

const titleName = "Music";
const iconPath = "../icons/music.png";
---

<Layout title={titleName}>
  <Window title={titleName} iconPath={iconPath}>
    3 of my various music projects (all also available on Apple Music, Youtube, and Soundcloud)
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/06ecWZ8SAM9MQIyfrcdwcI?utm_source=generator&theme=0" width="100%" height="352" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/7GkaPUiqeRhMRONeVjFqAm?utm_source=generator" width="100%" height="352" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/0c6cBBNY9jBLRRTzuLKxeC?utm_source=generator&theme=0" width="100%" height="352" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <a href="https://www.youtube.com/watch?v=joL027TrCKI&t=1890s">A Solo Piano Video for my Mom and Dad</a>
    <a href="https://soundcloud.com/smogsmogsmog">My Soundcloud (various beats)</a>
    <h3>Notes:</h3>
    <ul>
      <li>Some form of music playback for all content I've made</li>
      <li>Organized by -- date? type? location posted? </li>
      <li>Maybe split live and recorded, but do i have much live to show?</li>
      <li>Would be really cool to eventually link spotify API and automatically upload new songs onto here</li>
    </ul>
    <h3>Style:</h3>
    <ul>
      <li>Like the music player app on windows xp -- look into that</li>
      <li>Visuals are good, maintain visuals like album covers n stuff</li>
      <li>I like the idea of opening up an app and maintaining the background like you didnt switch pages</li>
      <li>Could even be just in files like a filestoring system not a music player, that doesn't seem like that bad of an idea</li>
    </ul>
  </Window>
</Layout>