---
import Navigation from './Navigation.astro';
---

<header>
    <nav>
        <Navigation />
    </nav>
</header>

<style>
    header {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
    }
</style>