---
---

<!-- todo: add icons for each link, icon component -->

<div class="nav-links">
    <a href="/" aria-label="Home">
        <img src="../icons/home.png" alt="Home Icon" />
    </a>
    <a href="/music/" aria-label="Music">
        <img src="../icons/music.png" alt="Music Icon" />
    </a>
    <a href="/code/" aria-label="Code">
        <img src="../icons/code.png" alt="Code Icon" />
    </a>
    <a href="/garden/" aria-label="Garden">
        <img src="../icons/garden.png" alt="Garden Icon" />
    </a>
    <a href="/about/" aria-label="About">
        <img src="../icons/about.png" alt="About Icon" />
    </a>
</div>


<style>
    /* phone */
    .nav-links {
        width: 100%;
        top: 5rem;
        left: 48px;
        background-color: #ff9776;
        display: none;
        margin: 0;
    }

    .nav-links a img {
        display: block;
        text-align: center;
        padding: 10px 0;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    /* .nav-links a:hover,
    .nav-links a:focus {
        background-color: #ff9776;
    }
     */
    /* for computers */
    @media screen and (min-width: 636px) {
        .nav-links {
            margin-left: 4px;
            display: block;
            position: static;
            width: auto;
            background: none;
        }

        .nav-links a img {
            display: inline-block;
            /* padding: 15px 20px; */

            width: 60px;
            height: 60px;
            transform: translateY(-10px); /* Moves the image up by 10 pixels */
        }
    }
</style>