---
import Apps from '../components/Apps.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="isaac's personal website" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon-32x32.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
        <Apps />
	</body>
    <script>
        import "../scripts/notes-display.js";
    </script>
</html>

<style>
/* will add things later when I come up with a cohesive style */
html {
    background-color: #28b750;
    background-image: url('../i.gif'); /* Replace 'your-image-file.jpg' with the actual file name */
    background-size: cover; /* This will make sure the image covers the entire background */
    background-position: center; /* This centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    font-family: "Menlo", monospace;
    overflow: hidden;
    height: 100%;
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
    line-height: 1.5;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }

  ul {
    font-size: small;
  }
</style>