---
import '../styles/global.css';
import Apps from '../components/Apps.astro';
import Hamburger from '../components/Hamburger.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="isaac's personal website" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
        <Apps />
	</body>
    <script>
        import "../scripts/notes-display.js";
    </script>
</html>